// font-family: 'Roboto', sans-serif;
// font-family: 'Lato', sans-serif;
$beige: #FDE7BE;
$orange: #ff8300;
$yellow: #F2BF16;
$blue: #031d68;
$lblue: #0d72ba;
$llblue: #29a9e1;

.white{
    color: #fff;
}
.black{
    color: #070707;
}
.orange{
    color: $orange;
}
.yellow{
    color: $yellow;
}
.blue{
    color: $blue;
}
.lblue{
    color: $lblue;
}
.llblue{
    color: $llblue;
}
.beige{
    color: $beige;
}

html {
  scroll-behavior: smooth;
}

*{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

body{
    background-color: #fff;
    overflow-x: hidden;
}

/** NAVIGATION */

// This is more aligned with Bootstrap's way of coloring nav links.

.navbar-light {
    background: #fff;

    .navbar-nav {
        .nav-link {
            color: $blue;
            font-size: 1.2rem;
            padding: 1.3rem;
            text-align: center;
            text-transform: uppercase;
        }
        .nav-link:hover {
            color: $yellow;
        }

        // I don't think these styles are used anywhere.
        .active {
            & > .nav-link,
            & > .nav-link:hover {
                color: $lblue;
            }
        }
    }
}

.navbar-brand {
    font-size: 2.25rem;
    margin: 0;
    img {
        width: 40px;
    }
}

.head1{
    color: $lblue;
    font-weight: 600;
    margin: 0;
    line-height: 0.5;
    font-size: 2.25rem;
}
.head2{
    color: $blue;
    font-weight: 900;
    margin: 0;
    font-size: 2rem;
}

.btn{
    background: $llblue !important;
    outline: none;
    border: 0;
    text-align: center;
    margin: auto;
    display: block;
    padding: 7px 25px;
}

.landing{
    background-image: url('../images/landing3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 650px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .caption{
        text-align: center;
        color: #fff;
        h1{
            font-size: 2.25rem;
            text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
        }
    }
    .med-hex-alone{
        position: absolute;
        top: 120px;
        left: -101px;
        width: 250px;
        transform: rotate(-59deg);
    }
    .big-hex{
        position: absolute;
        bottom: -20px;
        right: 0;
        width: 220px;
    }
    .med-hex{
        position: absolute;
        bottom: -65px;
        right: 40px;
        width: 200px;
    }
    .small-hex{
        position: absolute;
        bottom: -50px;
        right: 180px;
        width: 100px;
        transform: rotate(90deg);
    }
}

.about{
    position: relative;
    padding: 25px;
    .main{
        width: 100%;
        // transform: rotate(-30deg);
        // position: absolute;
        // top: 0;
        // left: 0;
    }
    .cont{
        width: 200px;
    }
    .caption{
        padding: 3.75rem;
    }
    .med-hex-alone{
        position: absolute;
        bottom: -70px;
        right: 0;
        width: 230px;
    }
}

.services{
    background-image: url('../images/circuit.png');
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 25px;
    margin-top: 100px;
    .title{
        position: absolute;
        top: -47px;
        font-size: 3.125rem;
        font-weight: 900;
        color: #FDE7BE;
    }
    .list{
        margin-top: 50px;
        h1{
            font-size: 1.5rem;
            text-align: center;
            color: $blue;
            font-weight: 700;
            margin-top: 20px;
        }
        .item{
            padding: 15px;
            cursor: pointer;
            img{
                max-width: 100%;
                height: 200px;
                display: block;
                margin: auto;
            }
            &:hover{
                // img{
                //     width: 90%;
                // }
            }
            p{
                padding: 0 25px;
                text-align: center;
            }
        }
    }
}

.contact{
    margin-top: 100px;
    position: relative;
    form{
        margin-top: 25px;
        textarea{
            resize: none;
        }
    }
    .big-hex{
        position: absolute;
        top: -100px;
        left: -100px;
        width: 300px;
        transform: rotate(102deg);
    }
    .med-hex{
        position: absolute;
        bottom: -145px;
        right: 0;
        width: 150px;
    }
    .small-hex{
        position: absolute;
        bottom: 30px;
        right: 0;
        width: 70px;
    }
}

footer{
    margin-top: 150px;
    border-top: $lblue solid 3px;
    padding: 25px;
    color: $blue;
    .navbar-brand{
        font-size: 1.5rem;
    }
    .nav-footer{
        a{
            font-weight: 600;
            color: $blue;
            &:hover{
                color: $lblue;
            }
        }
    }
    .details{
        .fa{
            margin-right: 10px;
        }
    }
    .social{
        .fa{
            font-size: 30px;
            padding: 0 7px;
            text-align: center;
        }
    }
    .copy{
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .powered{
        font-size: 10px;
        strong{
            font-size: 12px;
        }
    }
}
